*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
body{
    background-color: #293251;
}
.container{
    width: 27%;
    margin: auto;
    margin-top: 20vh;
    text-align: center;
    background-color:#d3dcff ;
    border-radius: 10px;
    padding-bottom : 20px;
    
}
.tittle{
    background-color:#aabdff ;
    border-radius: 10px;
}
.tittle p{
    padding: 20px 0;
    font-size: 3em;
    font-weight: 900;
}
.temperature-value p{
    font-size: 3em;
    padding: 10px 0;    
}
.temperature-value p:hover{
    
}
.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}

.notification{
    background-color: #f8d7da;
    display: none;
    border-radius: 10px;
}
.notification p{
    color: #721c24;
    font-size: 1.2em;
    padding: 10px 0;
}
.weather-icon img{
    display: block;
    margin: 0 auto;
}
.temperature-description{
    
} 
.temperature-description p{
    padding: 8px;
    margin: 0;
    font-size: 1.2em;
}  
.location{
    
}

.location p{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}